body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f8f8f8;
  text-align: center;
  margin: 0;
  padding: 0;
}

.header {
    font-size: 24px;
    color: #333;
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    /* border-bottom: 2px solid #acd2ea; */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch; 
  max-width: 90%;
  margin: 20px;
  gap: 20px;
}

.interior {
    font-size: 16px;
    color:#000000;
    text-align: left;
    padding-top: 20px;
    /* margin: 10px; */
}

.calculation-section {
  flex: 3;
  min-width: 350px;
  background-color: #f9f9f9; 
  /*border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); */
}


.result-section {
  flex: 7;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: 78%;
  margin-left: -10px;
}

.container {
  text-align: center;
  position: relative;
  max-width: 90%;
}

.result-section img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.cloud-thres {
  position: absolute;
  bottom: 250px;
  right: 10px;
  width: 170px;
  height: 170px;
  background: deepskyblue;
  border-radius: 100% 5% 100% 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg)
}


.cloud-thres-text {
  color: white;
  font-size: 14px;
  line-height: 1.5;
  transform: rotate(45deg) translateX(15px) translateY(10px);;
}


.line1, .line2, .vl {
  position: absolute;
  height: 5px;
  background-color: black;
  border: none;
  display: none;

}

.line1 {
  bottom: 67%;
  left: 35%;
  width: 40%;
  transform: translateX(-50%);
  animation: slideInLeft 0.5s ease-out forwards;
}

.line2 {
  bottom: 60%;
  left: 35%;
  width: 15%;
  transform: translateX(-50%);
  animation: slideInLeft 0.5s ease-out forwards;
}

.vl {
  bottom: 62%;
  left: 35%;
  width: 5px;
  height: 40px; 
  animation: slideInLeft 0.5s ease-out forwards;
}

.arrow1, .arrow2, .arrow3, .arrow4, .arrow5, .arrow6, .arrow7, .arrow8, .arrow9, .arrow10 {
  position: absolute;
  font-size: 60px;
  display: none;
}

/*ro*/
.arrow1 {
  bottom: 32%;
  left: 23%;
  transform: translateX(50px);
  animation: slideInLeft 0.5s ease-out forwards;
}

/*n2*/
.arrow2 {
  bottom: 44%; 
  left: 14%;   
  transform: translateX(50px);
  animation: slideInUp 0.5s ease-out forwards;
}

/*no3*/
.arrow3 {
  bottom: 20%; 
  left: 57%;   
  transform: translateX(50px);
  animation: slideInDown 0.5s ease-out forwards;
}

/*nh4*/
.arrow4 {
  bottom: 20%; 
  left: 70%;   
  transform: translateX(50px);
  animation: slideInDown 0.5s ease-out forwards;
}

/*nh4*/
.arrow5 {
  bottom: 43%;
  left: 56%;
  transform: translateX(50px);
  animation: slideInLeft 0.5s ease-out forwards;
}

/*nh3*/
.arrow6 {
  bottom: 66%;
  left: 34.25%;
  animation: slideInLeft 0.5s ease-out forwards;
}

/*nh3 rot*/
.arrow7 {
  bottom: 63.25%;
  left: 43%;
  transform: rotate(180deg);
  animation: slideInLeftRot 0.5s ease-out forwards;
}

/*ns*/
.arrow8 {
  bottom: 66%;
  left: 56%;
  animation: slideInLeft 0.5s ease-out forwards;
}

/*ns rot*/
.arrow9 {
  bottom: 63.25%;
  left: 66%;
  transform: rotate(180deg);
  animation: slideInLeftRot 0.5s ease-out forwards;
}

/*di down*/
.arrow10 {
  bottom: 53%; 
  left: 48%;   
  transform: translateX(50px);
  animation: slideInLeft 0.5s ease-out forwards;
}

.cloud-n2, .cloud-sf, .cloud-di, .cloud-nh3, .cloud-no3, .cloud-ns, .cloud-total, .cloud-nh4 {
  background-color: #ffffff;
  position: absolute;
  text-align: center;
  border-radius: 4px;
  padding: 10px 10px; 
  display: none;
}

.cloud-n2 {
  bottom: 55%; 
  left: 10%;
  animation: slideInUp 0.5s ease-out forwards;
}

.cloud-sf {
  bottom: 30%;
  left: 5%;
  animation: slideInLeft 0.5s ease-out forwards;
}

.cloud-di {
  bottom: 30%; 
  left: 38%;
  animation: slideInLeft 0.5s ease-out forwards;
}

.cloud-nh3 {
  bottom: 75%; 
  left: 40%;
  animation: slideInLeft 0.5s ease-out forwards;
}

.cloud-ns {
  bottom: 75%; 
  left: 62%;
  animation: slideInLeft 0.5s ease-out forwards;
}

.cloud-nh4 {
  bottom: 10%; 
  left: 67%;
  animation: slideInDown 0.5s ease-out forwards;
}

.cloud-no3 {
  bottom: 10%; 
  left: 40%;
  animation: slideInDown 0.5s ease-out forwards;
}

.cloud-total {
  bottom: 30%; 
  left: 58%;
  animation: slideInDown 0.5s ease-out forwards;
}


@keyframes slideInLeft {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeftRot {
  from {
    transform: rotate(180deg) translateX(-50px);
    opacity: 0;
  }
  to {
    transform: rotate(180deg) translateX(0);
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(50px);
    opacity: 1;
  }
}
.band {
  font-size: 14px;
  color: #000;
  text-align: left;
  background-color: #acd2ea;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  padding-left: 10px;
  border-radius: 5px;
}

  .calculate-button {
    background-color: #93ff7e;
    border: none;
    font-family: 'Open Sans', sans-serif;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.calculate-button:hover {
    background-color: #388E3C;
}

.button-wrapper {
    text-align: center;
 }

 .info-button {
  background-color: #d9d9d9;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
}

.info-text {
  margin-top: 5px;
  margin-left: 50%;
  font-size: 14px;
  color: #333;
  background-color: #f1f1f1;
  border-left: 4px solid #2196F3;
  padding: 10px;
  max-width: 300px;
  text-align: center;
}

.hidden {
  display: none;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.slider {
  width: 100%;
  max-width: 80%;
  height: 600px;
  margin: 10px;
  text-align: start;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.slide:nth-of-type(even) {
  background-color: rgb(250, 246, 212);
}

.slide {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-shrink: 0;
  width: 100%;
  height: 600px;
  scroll-snap-align: center;
  margin-right: 0px;
  box-sizing: border-box;
  background: white;
  transform-origin: center center;
  transform: scale(1);
}

.slide__text {
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: left;
}

.slide a {
  background: none;
  border: none;
}

a.slide__prev,
.slider::before {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 5%;
}

a.slide__next,
.slider::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 5%;
}

.slider::before,
.slider::after {
  position: absolute;
  top: 50%;
  width: 35px;
  height: 35px;
  border: solid black;
  border-width: 0 4px 4px 0;
  padding: 3px;
  box-sizing: border-box;
  pointer-events: none; /* Only pseudo-elements should ignore clicks */
}

.slide__prev,
.slide__next {
  position: absolute;
  top: 48%;
  width: 35px;
  height: 35px;
  border: solid black;
  border-width: 0 4px 4px 0;
  padding: 3px;
  box-sizing: border-box;
  z-index: 10; /* Bring buttons above everything else */
  background: transparent;
}
.slider::before,
.slider::after {
  content: "";
  z-index: 1;
  background: none;
  pointer-events: none;
}

.slider__nav {
  box-sizing: border-box;
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}

.slider__navlink {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: black;
  margin: 0 10px 0 10px;
}

.slider__navlink.active {
  background-color: #be2929;
}

.read-article{
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 999;
  color: #000;
  background: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: arial;
  text-decoration: none;
  box-shadow: rgb(50 50 93 / 25%) 0 0 100px -20px, rgb(0 0 0 / 30%) 0 0 60px -15px;
}
.read-article:hover{
    background: #d5d5d5;
    box-shadow: rgb(50 50 93 / 25%) 0 0 100px -20px, rgb(0 0 0 / 30%) 0 0 60px 0px;
}
iframe[sandbox] .read-article{
  display: none;
}