<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nitrogen Emission Calculator</title>
  </head>
        
  <body>
    <!-- INPUT -->
     <div class="header"><h2>Nitrogen Emission Calculator</h2></div>
    <div class="band">
      <h2>Animal Information</h2> </div>
    <div class="interior">
      <label for="cows">Amount of cows:
      </label>
    <input type="number" id="cows" min="0" placeholder="Type Number">
    <button class="info-button" onclick="toggleInfo('info-cows')">?</button>
    <div id="info-cows" class="info-text hidden">
      Enter the number of cows in your farm.
    </div>

    <br> <br>

    <label for="feed">Feed type:</label>
    <select id="feed">
      <option value="">Select</option>
      <option value="corn">Corn</option>
      <option value="grass">Grass</option>
      <option value="corngrass">Corn + Grass</option>
    </select>
    <button class="info-button" onclick="toggleInfo('info-feed')">?</button>
    <div id="info-feed" class="info-text hidden">
      Enter the type of feed the cows are consuming.
    </div>
    </div>
    <br> <br>
   
    <div class="band">
      <h2>Farm Information</h2> 
    </div>
    <div class="interior">
    <label for="soil">Soil Type:</label>
    <select id="soil">
      <option value="">Select</option>
      <option value="sand">Sand</option>
      <option value="clay">Clay</option>
      <option value="loess">Loess</option>
    </select>
    <button class="info-button" onclick="toggleInfo('info-soiltype')">?</button>
    <div id="info-soiltype" class="info-text hidden">
      Enter the type of soil your farm has.
    </div>

    <br> <br>

    <label for="humidity">Soil humidity:</label>
    <select id="humidity">
      <option value="">Select</option>
      <option value="dry">Dry</option>
      <option value="moist">Moist</option>
      <option value="wet">Wet</option>
    </select>
    <button class="info-button" onclick="toggleInfo('info-soilhum')">?</button>
    <div id="info-soilhum" class="info-text hidden">
      Enter how humid the soil of your farm is.
    </div>

    <br><br>

    <label for="land">Land type:</label>
    <select id="land">
      <option value="">Select</option>
      <option value="grassland">Grassland</option>
      <option value="maize">Maize</option>
      <option value="arable">Arable</option>
    </select>
    <button class="info-button" onclick="toggleInfo('info-landtype')">?</button>
    <div id="info-landtype" class="info-text hidden">
      Enter the type of land of your farm. 
    </div>
    </div>
    <br> <br>
    <div class="band"> <h2> Time Variables </h2> </div>
    <div class="interior">
    <label for="housing">Amount of time in housing (%):</label>
    <input type="number" id="housing" min="0" max="100" placeholder="Type Percentage">
    <button class="info-button" onclick="toggleInfo('info-housingtime')">?</button>
      <div id="info-housingtime" class="info-text hidden">
        Enter the amount of time your cows usually spend in housing.
      </div>

    <br> <br>

    <label for="grazing">Amount of time in grazing (%):</label>
    <input type="number" id="grazing" min="0" max="100" placeholder="Type Percentage">
      <button class="info-button" onclick="toggleInfo('info-grazingtime')">?</button>
      <div id="info-grazingtime" class="info-text hidden">
        Enter the amount of time your cows usually spend grazing.
      </div> </div>
    <br> <br>
     
    <div class = "button-wrapper">
      <button id="calculate" class="calculate-button">Calculate</button> </div>
    <div class="band"> <h2> Results </h2> </div>
    <!-- OUTPUT -->
    <div class="interior">
    <p id="nitrogen-housing">Total nitrogen emission from housing:</p>
    <p id="nitrogen-grazing">Total nitrogen emission from grazing:</p>
    <p id="ammonia-housing">Total ammonia emission from housing:</p>
    <p id="ammonia-grazing">Total ammonia emission from grazing:</p>
    <p id="nh4-gw">Total NH4 leaching to groundwater:</p>
    <p id="no3-gw">Total NO3 leaching to groundwater:</p>
    <p id="ro-ditches">Total nitrogen runoff to ditches:</p>
    <p id="ro-sw">Total nitrogen runoff to surface water:</p>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const calculateButton = document.getElementById("calculate");

        calculateButton.addEventListener("click", function () {
          const cows = parseFloat(document.getElementById("cows").value) || 0;
          const feed = document.getElementById("feed").value;
          const housingPercentage = parseFloat(document.getElementById("housing").value) || 0;
          const grazingPercentage = parseFloat(document.getElementById("grazing").value) || 0;
          const landUse = document.getElementById("land").value;

          // PERCENTAGES -> DECIMAL
          const housing = housingPercentage / 100;
          const grazing = grazingPercentage / 100;

          // NITROGEN PER COW PER DAY BASED ON FEED
          let nCowDay = 0;
          
          if (feed === "corn") {
            nCowDay = 0.279;
          } else if (feed === "grass") {
            nCowDay = 0.406;
          } else if (feed === "corngrass") {
            nCowDay = 0.345;
          }
          
          // FRACTION OF AMMONIA GRAZING BASED ON SOIL AND LAND
          let frAmGrazing = 0;
          
          if (landUse === "grassland") {
            if (soil === "sand") {
              frAmGrazing = 0.05;
            } else if (soil === "clay") {
              frAmGrazing = 0.10;
            }
          } else if (landUse === "maize" || landUse === "arable") {
            frAmGrazing = 0.10;
          }
          
          // NITROGEN EMISSIONS HOUSING
          const nitrogenHousing = nCowDay * 365 * housing * cows;
          
          // NITROGEN EMISSIONS GRAZING
          const nitrogenGrazing = nCowDay * 365 * grazing * cows;
          
          const nitrogenEm = nitrogenHousing + nitrogenGrazing
          
          // AMMONIA EMISSIONS HOUSING
          const ammoniaHousing = 0.13 * nitrogenHousing
          
          // AMMONIA EMISSIONS GRAZING
          const ammoniaGrazing = frAmGrazing * nitrogenHousing
          
          const ammoniaEm = ammoniaHousing + ammoniaGrazing

          // OUTPUT
          document.getElementById("nitrogen-housing").textContent = `Total nitrogen emission from housing: ${nitrogenHousing.toFixed(2)} kg/year`;
          document.getElementById("nitrogen-grazing").textContent = `Total nitrogen emission from grazing: ${nitrogenGrazing.toFixed(2)} kg/year`;
          document.getElementById("ammonia-housing").textContent = `Total ammonia emission from housing: ${ammoniaHousing.toFixed(2)} kg/year`;
          document.getElementById("ammonia-grazing").textContent = `Total ammonia emission from grazing: ${ammoniaGrazing.toFixed(2)} kg/year`;
        });
      });

      function toggleInfo(id) {
        const info = document.getElementById(id);
        info.classList.toggle("hidden");
  }
    </script>
  </body>
</html>